# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/

# Jupyter
.ipynb_checkpoints

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt

# Unit test / coverage reports
.pytest_cache/
.coverage
coverage.xml


# Node
node_modules/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
